<main class="page-content">

    <section class="main-section dashboard-section">
        {{#each weeks}}
            <article class="dashboard-item">

                <div class="dashboard-progress">
                    <svg class="dashboard-icon pc-complete_{{pc_complete}}" height="120" width="120">
                        <circle class="circle" stroke-width="15" fill="transparent" r="45" cx="60" cy="60"/>
                        <circle class="progress-circle circle" stroke-width="15" fill="transparent" r="45" cx="60" cy="60"/>
                    </svg>
                    <div class="dashboard-fraction">{{taskFraction completed_tasks}}/{{task_count}}</div>
                </div>
                <div class="dashboard-confidence {{trafficLight confidence_levels}}"></div>
                <h3 class="dashboard-header">{{id}} - {{week_name}}</h3>
                <a class="dashboard-link" href="/{{url_slug}}"><span class="hidden">{{week_name}}</span></a>

            </article>
        {{/each}}
    </section>

</main>
<script src="js/dashboard.js"></script>
