<main class="page-content">
    <section class="main-section header">

      {{name}}
      {{repoLink}}

{{#each taskDataComplete}}
{{/each}}
{{repo}}

{{taskDataComplete}}


<!-- {{#each repoLink}}
<p> {{repoLink}} <p>
{{/each}} -->
      <h1>Complete</h1>

 <form action="/logData"  method="post">

  <h1>Complete:</h1>
<input type="checkbox" value="false" name="completion" />Not complete<br>
<input type="checkbox" value="true" name="completion" />Complete<br>
  <h1>Confidence Level:</h1>
  <input type="radio" name="confidence" value="3"> low<br>
  <input type="radio" name="confidence" value="2"> Medium<br>
  <input type="radio" name="confidence" value="1"> High<br>

  <h1>Notes:</h1><br>
  <textarea name="notes" rows="10" cols="14">
  </textarea>

  <button type="submit">Save</button>
</form>

    </section>
</main>
