<main class="page-content">

  <section class="main-section header">
    <h1>{{name}}</h1>
    <a href="{{loggedTask}}" target="_blank" type="button">Repo Link</a>

<!-- for back button: {{url_slug}}/{{task_slug}} -->
    {{#if status}}<p>You have not logged this task yet</p>{{else}}{{/if}}

     <form class="form-log" action="/tasks"  method="post">

      <section class="form-section">
        <h3>Complete:</h3>

        <label class="checkbox-label">Completed
          <input class="checkbox-input" type="checkbox" {{#if completion}}checked{{else}}{{/if}} value="true" name="completion"/>
          <span class="checkbox-checkmark"></span>
        </label>

      </section>

      <section class="form-section">
        <h3>Confidence Level:</h3>
        <section class="completed radio-group">

          {{#each radios}}
          <label class="radio-label">
            <span class="radio-title">{{label}}</span>
            <input class="radio-input {{color}}" type="radio" value="{{value}}" name="confidence" {{radioState checked}} />
            <span class="radio-checkmark"></span>
          </label>
          {{/each}}

        </section>
      </section>


      <h3>Notes:</h2>
      <textarea class="textarea-input" rows="10" cols="40" name="notes">{{notes}}</textarea>
      <input class="text-input hidden task-id" type="text" value="{{task_id}}"/>
      <section class="form-section right">
        <input class="button-input" type="submit" value="Save"/>
      </section>




    </form>
  </section>
</main>
