<main class="page-content">
    <section class="main-section header">
        <h1>Week {{number}} : {{name}}</h1>
        <ul>
        {{#each tasks}}

        <li class="{{trafficLight confidence}} {{taskComplete completion}}">
          <h3> Workshop Name : {{name}} </h3>
            <p>confidence: {{confidence}}</p>
            <p>completion: {{completion}}</p>
          </li>
        {{/each}}
      </ul>
    </section>
</main>
